.add-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: 0.3s;
}

.add-btn:hover {
  background: #1d4ed8;
  transform: translateY(-2px);
}